BasedOnStyle: Chromium

UseTab: Never
IndentWidth: 4
IndentCaseLabels: false
ColumnLimit: 100

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: Never
SortIncludes: true

SpaceBeforeCpp11BracedList: true
